<ion-view view-title="Activity">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="item card-item" ng-repeat="datas in data">
            <div  class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/jon-snow.jpg');"></span>
                    <strong>Win Tatt</strong> {{datas.status}}
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubbles positive"></i> 6
                        <i class="icon ion-heart assertive"></i> 23
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> {{datas.timestamp}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
