<ion-view view-title="Detail">
    <ion-content  class="background" ng-class="{expanded:isExpanded}">
      <div ng-repeat="datas in data">
         <img class="full-image" ng-src="data:image/jpeg;base64,{{datas.img}}">
        <h5 style="padding-left:10px;"><strong>Report</strong></h5>
 
            <div class="list">
                   <a class="item item-icon-left" href="#">
                    <strong>Date Created:</strong>{{datas.timestamp}}
                  </a>               
                  <a class="item item-icon-left" href="#">

                    <strong>Status :</strong> {{datas.status}}
                  </a>
                    <a class="item item-icon-left" href="#">
                   <strong> Car Plate:</strong> {{datas.plate}}
                  </a>
                    </a>
                    <a class="item item-icon-left" href="#">
                    <strong>Type:</strong> {{datas.type}}
                  </a>
                   <a class="item item-icon-left" href="#">
                   <strong> Place: </strong>{{datas.latitude}}, {{datas.longtitude}}
                  </a>                
            </div>
            <button class="button button-assertive checkout" ng-click="submit()">
             Submit Report
            </button>

      </div>
      
    </ion-content>
</ion-view>
