<ion-view view-title="Detail">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
        </div>
        <h4 class="content padding double-padding-x">Summary</h4>
        <div class="list animate-fade-slide-in-right">
            <div class="list">
                   <a class="item item-icon-left" href="#">
                    <i class="icon ion-email"></i>
                    Date Created: 2016/09/22
                  </a>               
                  <a class="item item-icon-left" href="#">
                    <i class="icon ion-email"></i>
                    Status : 
                  </a>
            </div>
            <button class="button button-assertive checkout">
             Submit Report
            </button>
        </div>
    </ion-content>
</ion-view>
