<ion-view view-title="Bookmark">
    <ion-content class="animate-fade-slide-in background" ng-class="{expanded:isExpanded}"     >

        <div class="row has-header1 " style="flex-wrap: wrap;">
            <div class="col-50" ng-repeat="datas in data"  >  
                <div class="list card">
                 <div class="ink dark-bg date" ng-click="specificItem(datas.id)">
                     <h4 style="color:white">{{datas.timestamp}}</h4>
                      <img class="full-image" ng-src="data:image/jpeg;base64,{{datas.img}}">
                </div>
                     <button class="button button-full button-assertive" ng-click="delete(datas)" >
                    Delete
                  </button>
                </div>                      
            </div>
        </div>
    </ion-content>
</ion-view>
S